@font-face {
  font-family: mons;
  src: url(../fonts/Montserrat-Medium.otf);
}

*{
  margin:0px auto;
  font-family: mons;
}

#header{
  background-color: #141e28;
  width: 100%;
  height: 80px;
}

.header_text{
  color: #fff;
  font-size: 18px;
  margin-top: 22px;
  text-align: center;
  font-family: mons;
  src: url(../fonts/Montserrat-Medium.otf);
}

.header_text_2{
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
  text-align: center; 
  font-family: mons;
  src: url(../fonts/Montserrat-Medium.otf);
}

.header_hotline{
  color: #f79321;
  font-size: 28px;
  margin-top: 18px;
  text-align: center;
  font-weight: bold;
}

.header_hotline:hover{
  text-decoration: none;
}

#search{
  background-image: url(../images/bg-search.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 510px;
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.36); 
}

#above_footer{
  width: 100%;
  height: 300px;
  background-color: #0c427a;
}

.fix{
  position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}

#footer{
  background-color: #141e28;
  height: 450px;
  width: 100%;  
}

#middle_bottom{
  padding: 20px 0;
 /* margin-top: 15px;*/
  border-top:1px solid #4b4b4b; 
  border-bottom:1px solid #4b4b4b; 
}

.customer_service_text{
  color: #fff;
  margin-top: 12px;
  font-size: 16px;
}

nav {
  font-size : 18px;
  
}

nav a {
  color : #FFF;
  text-decoration: none;
}

nav ul {
  margin : 0px;
  padding : 0px;
}

nav ul li {
  list-style-type : none;
  display : inline-block;
  color : #FFF;
  background-color : #141e28;
  padding : 10px;
  cursor : pointer;
  font-size: 18px;
  text-align: center;
  margin-top : 2px;
}

nav ul li:hover {
  background-color : #141e28;
  text-decoration: none;
}

nav ul li ul{
  position : absolute;
  margin-top : 12px;
  margin-left : -10px;
  visibility : hidden;
}

nav ul li:hover ul{
  visibility : visible;
  text-decoration: none;
}

nav ul li ul li {
  display : block;
  text-align: left;
  font-size: 17px;
}

a:hover{
  text-decoration: none;
}

a{
  text-decoration: none;
}

/*#wrap_footer{
  min-height: 200px;
  width: 100%;
  margin-top: 1900px;
}

#wrap_footer2{
  min-height: 200px;
  width: 100%;
  margin-top: 700px;
}

#wrap_footer3{
  min-height: 200px;
  width: 100%;
  margin-top: 0px;
}
*/
#main_content{
  margin-top: 120px;
}

.head_bottom{
  width: 1527px;
  height: 88px;
}

#body{
   margin: 0px auto;
   min-height: 1190px;
   width: 1140px;
   font-family:Arial;
    font-size: 16px;
    color: #222222;
}

.imgs{
  height: 456px;
  width: 1140px;
}
.new-content{
  height: 450px;
  width: 408px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  position: relative;
  float: left;
  text-align: justify;


  
}
.content1 h3{
  height: 76px;
  width: 380px;
  position: absolute;
  top: 200px;
  left: 0px;
  background-color: white;
  padding:10px;
  font-size: 18px;
  color: #222222;


}
.views p {
  width: 405px;
  height: 100px;
  font-size: 15px;
  padding-top: 0px;
 /* text-align: justify;*/
}
.like_share{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
}
.title {
  position: absolute;
  top: 10px;
  left: 90px;
  padding-left: 10px;

}
.news{
  height: 100px;
  width: 263px;
  padding-bottom: 20px;
  position: relative;
}
.list_news{
  background-color: #fbfbfb;
  width: 300px;
  height: 1045px;
}
.header_box{
  width: 100%;
    height: auto;
    float: left;
    margin-bottom: 15px;
    border-bottom: #000 double 3px;
}
.notes a{
  border: #333333 solid 1px;
    color: #333333;
    font-size: 14px;
    padding: 2px 10px;
    margin-bottom: 8px;
    display: inline-block;
}
.h1_title{
  margin-top: 0;
    margin-bottom: 20px;
    font-family: Arial;
    color: #e30050;
}
.info a{
  color: #0c427a;
}

.tour_list{
  display: table;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #dddddd;
    border-left: 0;
    position: relative;
    margin-top: 40px;

}
.left_tour_list{
  position: relative;
    width: 350px;
    display: table-cell;
}

.left_tour_list img{
  height: 210px;
  width: 350px;
  float:left;

}
.mid_tour_list{
  margin-left: 50px;
  height: 210px;
  width: 614px;
  font-family: Arial;
  position: absolute;
  top: 5px;
  font-size: 18px;
} 
.right_tour_list{
    background: #19528f;
    text-align: center;
    color: #fff;
    padding: 15px 10px;
    width: 206px;
    height: 162px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.a-book-tour{
  display: inline-block;
    background: #fff;
    color: #df1b7c;
    font-weight:bold;
    font-size: 16px;
    text-transform: uppercase;
    padding: 2px 20px;
    margin-top: 5px;
}
.mid_tour_list p{
  margin-bottom: 5px;
}
.score{
  padding: 3px 5px;
    border-radius: 6px;
    background: #9fc43a;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}
.ribbon{
  position: absolute;
  height: 20px;
  width: 118px;
  top: 20px;
  left: 10px;
  background-color: #e54352;

}

.booking{
  margin-top: 8px;
    color: #e52822;
    border: solid 1px #e52822;
    border-radius: 2px;
    padding: 2px 5px 3px;
    display: inline-block;
    margin-left: 40px;
   
}
.tour_list_tn{
  margin-top: 40px;
  display: table;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #dddddd;
   
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
   

}


.thong_tin h3{
  padding-top: 20px;
  padding-bottom: 10px;
}
.thong_tin p{
  padding-right: 30px;
  padding-left: 10px;
}
.beside_service{
  padding-top: 15px;
  padding-bottom: 15px;
}
.cspt  h3{
  padding-top: 20px;
  padding-bottom: 20px;
}
.all{
  margin-top: 60px;
}

.tour_content{
  width: 70%;
  min-height: 260px;
  margin-top: 40px;
}

.tour_text{
  margin-left: 20px;
  font-family: Time new romans;
}

.tour_text_tiny{
  margin-left: 10px;
  font-size: 20px; 
  font-family: Time new romans;
}

.price_tour{  
  float: right;
}

.price_tour p{
  font-size: 25px;
  color: red;
}

.tlq_title{
  background-color: #f5f5f5;
  min-height: 20px;
  width: 100%;
  margin-top: 30px;
}

.tlq{
  margin-top: 5px;
}

.tlq_title1{
  background-color: #f5f5f5;
  min-height: 20px;
  width: 100%;
  margin-top: 30px;
}

.score_1{
  padding: 10px 10px;
    border-radius: 8px;
    background: #9fc43a;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.score_span{
    border-radius: 3px;
    padding: 3px 5px 2px 5px;
    color: #fff;
    background-color: #9fc43a;
    font-size: 13px;
}
.status{
    font-size: 13px;
    font-weight: bold;
    color: #26bed6;
}
.reviewdate{
    font-size: 12px;
    color: #cdcccb;
    margin-left: 10px;
}
.t_d a{
  font-size: 12px;
  color: #666666;
 
}
.time_date{
  position: relative;
  border-bottom:1px solid #ddd;
  height: 30px;
}
.fb-like{
  position: absolute;
  top: -28px;
  left: 115px;
}
.content_box{
    padding: 15px 15px 15px 60px;
    margin-bottom: 15px;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    background: #f7fafa;
    color: #111;
    clear: both;
    box-shadow: none;
    border-radius: 0;
    border: 0;
}
.entry_content{
  padding-left: 100px;
  padding-right: 50px;
}
.anh_r{
  padding-bottom: 20px;
  padding-top: 20px;
}
.promotion{
    background-color: #F79321;
    font-size: 14px;
    color: white;
    padding: 7px;
    height: 27px;
    position: relative;
}
.inline{
    display: inline-block;
    margin-right: 7px;
    vertical-align: top;
    max-width: 290px;
}
.v_ribbon{
  position: absolute;
  height: 20px;
  width: 115px;
  top: 20px;
  left: 10px;
  background-color: #e52822;
}
.t_b{
  padding-left: 5px;
  padding-right: 150px;
}
.price_num{
    font-weight: bold;
    font-size: 17px;
    color: #26BED6;
}
.right{
  float: right;
  padding-top: 7px;
  padding-right: 7px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.c_t{
   padding: 10px 10px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: bold;
}
.around{
   border: 1px solid #F79321;
    background-color: white;
    padding-bottom: 130px;  
}

.margin-top{
  margin-top: 70px;
}

.backtotop{
   position: fixed;
   width: 50px;
   height: 50px;
   background: #FACC2E;
   bottom: 40px;
   right: 40px;
   text-align: center;
   
   font-size:22px;
   line-height: 50px;
   border-radius: 4px;

}
.backtotop:hover{
  background-color: #333;
  color: white;
}
.backtotop:active{
  background-color: #555;
  color: white;
}
.folder a{
    border: 1px solid #ddd;
    display: block;
    float: left;
    padding: 2px 6px;
    color: #aaa;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 12px;
}
.icons{
    border: 1px solid #ddd;
    display: block;
    float: left;
    padding: 2px 6px;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: #666;
}
.tags a{
    border: 1px solid #ddd;
    display: block;
    float: left;
    padding: 2px 6px;
    color: #aaa;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 12px;
}
.binh_luan{
  margin-top: 80px;
}

#form_thanhtoan{
  /*background-color: grey;*/
  min-height: 100px;
}

.margin-top-20px{
  margin-top: 20px;
}

.minus_plus{
  margin-left: 20px;
}

.total_price{
  font-size: 27px;
}

.sale_box{
  position: absolute;
  height: 50px;
  width: 50px;
  color: white;
  background-color: #c41f1f;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
    align-items: center;
    justify-content: center;
}

.float-right{
  float: right;
}

.noti{
  color: red;
}
s