@font-face {
  font-family: mons;
  src: url(../fonts/Montserrat-Medium.otf);
}

*{
	margin:0px auto;
	font-family: mons;
}
@media (max-width: 500px){
  nav.navbar{
   max-height: 100vh;
   overflow: auto;
  -webkit-overflow-scrolling: touch;
  }
}
#header{
	background-color: #141e28;
	width: 100%;
	height: 80px;
}

.header_text{
	color: #fff;
	font-size: 18px;
	margin-top: 22px;
	text-align: center;
	font-family: mons;
  src: url(../fonts/Montserrat-Medium.otf);
}

.header_text_2{
	color: #fff;
	font-size: 16px;
	margin-top: 15px;
	text-align: center;	
	font-family: mons;
  src: url(../fonts/Montserrat-Medium.otf);
}

.header_hotline{
	color: #f79321;
	font-size: 28px;
	margin-top: 18px;
	text-align: center;
	font-weight: bold;
}

.header_hotline:hover{
	text-decoration: none;
}

/*#search{
	background-image: url(../images/bg-search.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 510px;
	box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.36); 
}*/

#above_footer{
	width: 100%;
	height: 300px;
	background-color: #354077;
}

.whyus{
	margin-top: 30px;
}

.col-whyus {
    float: left;
    width: 20%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 20px;
}

.desc-whyus{
	font-size: 18px;
	color: #fff;
}

.top-whyus i {
    font-size: 25px;
    color: #fff;
}

.top-whyus {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-bottom: 10px;
}

.fix{
	position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}

#footer{
	background-color: #141e28;
	height: 450px;
	width: 100%;	
}

#middle_bottom{
	padding: 20px 0;
	/*margin-top: 15px;*/
	border-top:1px solid #4b4b4b; 
	border-bottom:1px solid #4b4b4b; 
}

.customer_service_text{
	color: #fff;
	margin-top: 12px;
	font-size: 16px;
}

nav {
	font-size : 18px;
	
}

nav a {
	color : #FFF;
	text-decoration: none;
}

nav ul {
	margin : 0px;
	padding : 0px;
}

nav ul li {
	list-style-type : none;
	display : inline-block;
	color : #FFF;
	/*background-color : #141e28;*/
	padding : 10px;
	padding-top : 25px;
	padding-bottom : 25px;
	cursor : pointer;
	font-size: 18px;
	text-align: center;
	/*margin-top : 2px;*/
}

nav ul li:hover {
	background-color : #141e28;
	text-decoration: none;
}

nav ul li ul{
	position : absolute;
	margin-top : 12px;
	margin-left : -10px;
	visibility : hidden;
}

nav ul li:hover ul{
	visibility : visible;
	text-decoration: none;
}

nav ul li ul li {
	display : block;
	text-align: left;
	font-size: 17px;
}

a:hover{
	text-decoration: none;
}

a{
	text-decoration: none;
}

#block_1{
	width: 100%;
	height: 600px;
}

	/*slider*/
.carousel-inner{
  width:100%;
  max-height: 600px !important;
}


      .img-item{
        /*width:100%;
        height:100%;*/
        background-position:center center;
        background-size:cover;
        z-index:0;
    }

    .background-carousel{
        width:100%;
        height:100%;
        z-index:-1;
    }

    .carousel-indicators, .carousel-inner{
        width:100%;
        height:100%;
        z-index:0;
        overflow:hidden;
        
    }
    #search {
        position:absolute;
        z-index:1 !important;
        width:70%;
        height:600px;
        opacity: 0.85;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left:15%;
        margin-top: -80px;
    }


	/*slider*/

.content{
	width: 70%;
	height: 600px;	
}

.content_title{	
	width: 70%;
	height: 50px;
	float: left;
	padding-top: 12px;
}

.love{	
	float: left;
	width: 32%;
	padding-top:30px; 
	position: relative;
	margin-left:10px; 
}

.love first-child{
	clear:none;
}

.fade_images{
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	height: 240px;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.love:hover .fade_images {
	opacity: 0.3;
}

.love:hover .middle {
	opacity: 1;
}

.text {
	background-color: #3071a9;
	color: white;
	font-size: 18px;
	padding: 16px 32px;
	text-decoration: none;
}

.content_bottom{
	background-color: #0c427a;
	margin-top: 0px;
	width: 100%;
	height: 47px;
	position: absolute;
}

.text_bottom{
	text-decoration: none;
	color: white;
	font-size:20px;
	text-align: center;
	margin-top:10px;
}

#block_2{
	margin-top:40px;
	width: 100%; 
}

#sale-icon{
	width: 55px;
	height: 60px;
}

.content_title p{
	font-size:35px;
	color:#0c427a;
	float:left;
}
#block_2ruoi{
	width: 100%;
	margin-top:70px;
}

/*.grid-container-popular{
	grid-template-columns: [col1] auto [col2] auto [col3] auto [end];
    grid-template-rows: [row1] auto [row2] auto [row3] auto [row4] auto [end];
}*/

.grid-container {
  display: grid;
  grid-gap: 15px;
  padding: 10px;
}

.grid-container2 {
  display: grid;
  grid-gap: 15px;
  padding: 10px;
  padding-top: 5px !important;
  grid-template-columns: 338px 338px 338px !important;
}

.grid-item {
  padding: 20px;
  margin: 0 0 0 0 !important;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  height: 240px;
}

.item2 {
  grid-column: 3;
  height: 495px;
  grid-row: 1 / span 2;
}

.item3 {
  grid-column: 1;
  height: 240px;
  grid-row: 2;
}

.item4 {
  grid-column: 2;
  height: 240px;
  grid-row: 2;
}

.item5 {
  grid-column: 1;
  grid-row: 1 / span 2;
  height: 495px;
  width: 100%;
}

.item6 {
  grid-column: 2 / span 3;
  height: 240px;
  grid-row: 1;
  width: 691px;
}

.item7 {
  grid-column: 2;
  height: 240px;
  grid-row: 2;
}

.item8 {
  grid-column: 3;
  height: 240px;
  grid-row: 2;
}

.inside_grid{
	position: absolute;
	padding-top: 130px;
}

.inside_grid2{
	position: absolute;
	padding-top: 390px;
}

.inside_grid_title{
	font-size: 28px;
	color: #fff;
	font-weight: bold;
}

.inside_grid_ks{
	font-size: 20px;
	color: #fff;
	margin-top: -10px;
}

/*.block {
  min-height: 220px;
  height: 100%;
}	

.block1 {
  margin-top: 10px;
  min-height: 210px;
  height: 100%;
}

.block2 {
  min-height: 230px !important;
  height: 100%;
}	*/	 

.no-padding{
  padding: 0 0 0 0 !important;	
}

.padding-right{
	padding-right: 5px !important;
}

.padding-left{
	padding-left: 5px !important;
}

#block_3{
	width: 100%;
	background-color: #f5f5f5;
	margin-top:70px;
}

.content_2{
	width: 70%;
	height: 50px;	
}

.tour_content{
	width: 70%;
	min-height: 260px;
	margin-top: 50px;
}

.tour_text{
	margin-left: 20px;
	font-family: mons;
  src: url(../fonts/Montserrat-Medium.otf);
}

.tour_text_tiny{/*
	margin-left: 10px;
	font-size: 20px; */
	font-family: mons;
  src: url(../fonts/Montserrat-Medium.otf);
}

.price_tour{	
	float: right;
}

.price_tour p{
	margin-top: 20px;
	font-size: 25px;
	color: red;
}

#block_4{
	width: 100%;
	margin-top: 40px;
}

.see_all{
	padding-top: 80px;
	float: right;
}

.see_all p{
	font-size: 18px;
	color: red;
}

.see_all_2{
	padding-top: 20px;
	text-align: center;
}

.see_all_2 p{
	font-size: 18px;
	color: red;
}

#block_5{
	width: 100%;
	background-color: #f5f5f5;
}

.content_3{
	width: 70%;
	height: 70px;
	position: relative;	
}

.below_content_title{
	margin-top: 55px;
	margin-left: 55px; 
	float: right;
	position: absolute;
}

.below_content_title p{
	font-size: 22px;
	font-family: mons;
  src: url(../fonts/Montserrat-Medium.otf);
	margin-top: 5px;
}

.exp_content{
	width: 70%;
	margin-top: 40px;
}

.exp_photo{
	width: 400px;
	height: 215px;
	margin-top: 7px;
}

.exp_title{
	font-size: 24px;
	margin-left: 28px; 
	color: #0c427a;
	font-weight: bold;
}

.exp_below_title{
	margin-left: 28px;
	font-family: mons;
  src: url(../fonts/Montserrat-Medium.otf);
	font-size: 18px;
}

.sale_box{
	 position: absolute;
  height:47px;
  width: 47px;
  color: white;
  background-color: #c41f1f;
  display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

/*.card {
	margin: 0 0 0 0 !important;
}

.card-text {
	margin: 0 0 0 0 !important;
}

.card-title {
	margin: 0 0 0 0 !important;
}*/

.card-body {
	margin: 0 0 0 0 !important;
}
